body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e8f3ff;
}

header {
    background-color: #3f8cff;
    color: white;
    padding: 25px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 0 0 10px 10px;
}

.navbar {
    float: right;
    margin-top: -60px;
    margin-right: 50px;
}

.navbar a {
    background: white;
    color: #3f8cff;
    padding: 10px 18px;
    margin-left: 5px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #dce7ff;
}

.profile-pic {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 4px solid white;
    position: absolute;
    top: 15px;
    right: 230px;
}

.container {
    background: white;
    width: 70%;
    margin: 40px auto;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

section {
    margin-bottom: 40px;
}

h2 {
    color: #0050d5;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    color: #555;
}